#jinja2: trim_blocks: True, lstrip_blocks: True
{#############################################
PURPOSE: Configure xSTP commands for dellos9 Devices

dellos_xstp:
    type: stp
    enable: true
    stp:
      bridge_priority: 4096
      state: present

    rstp:
      bridge_priority: 4096
      state: present

    pvst:
      vlan:
        - range_or_id: 10
          bridge_priority: 4096
      state: present

    mstp:
      mstp_instances:
        - number: 1
          vlans: 10,12
          vlans_state: present
          bridge_priority: 4096
      state: present
    intf:
      Port-Channel 1:
        msti:
          - instance_number: 2
            cost: 3000
            priority: 224
            state: present
      GigabitEthernet1/3:
        stp_type: mstp
        bpdu_guard: true
        edge_port: true
        guard: root

############################################}
{% if dellos_xstp is defined and dellos_xstp %}
{% set xstp_vars = dellos_xstp %}
{% if xstp_vars.type is defined and xstp_vars.type %}
  {% if xstp_vars.type == "stp" %}
protocol spanning-tree 0
  {% else %}
protocol spanning-tree {{ xstp_vars.type }}
  {% endif %}
  {% if xstp_vars.enable is defined %}
    {% if xstp_vars.enable %}
 no disable
    {% else %}
 disable
    {% endif %}
  {% endif %}
{% endif %}

{% if xstp_vars.stp is defined and xstp_vars.stp %}
  {% set val = xstp_vars.stp %}
    {% if val.state is defined and val.state == "absent" %}
no protocol spanning-tree 0
    {% else %}
      {% if val.bridge_priority is defined %}
protocol spanning-tree 0
        {% if val.bridge_priority == 0 or val.bridge_priority %}
 bridge-priority {{ val.bridge_priority }}
        {% else %}
 no bridge-priority
        {% endif %} 
      {% endif %}
    {% endif %}
{% endif %}

{% if xstp_vars.rstp is defined and xstp_vars.rstp %}
  {% set val = xstp_vars.rstp %}
    {% if val.state is defined and val.state == "absent" %}
no protocol spanning-tree rstp
    {% else %}
      {% if val.bridge_priority is defined %}
protocol spanning-tree rstp
        {% if val.bridge_priority == 0 or val.bridge_priority %}
 bridge-priority {{ val.bridge_priority }}
        {% else %}
 no bridge-priority
        {% endif %}
      {% endif %}
    {% endif %}
{% endif %}
 
{% if xstp_vars.pvst is defined and xstp_vars.pvst %}
  {% set val = xstp_vars.pvst %}
    {% if val.state is defined and val.state == "absent" %}
no protocol spanning-tree pvst
    {% else %}
      {% if val.vlan is defined and val.vlan %}
protocol spanning-tree pvst
        {% for vlan in val.vlan %}
          {% if vlan.range_or_id is defined and vlan.range_or_id %}
            {% if vlan.bridge_priority is defined %}
              {% if vlan.bridge_priority == 0 or vlan.bridge_priority %}
 vlan {{ vlan.range_or_id }} bridge-priority {{ vlan.bridge_priority }}
              {% else %}
 no vlan {{ vlan.range_or_id }} bridge-priority
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
{% endif %}

{% if xstp_vars.mstp is defined and xstp_vars.mstp %}
  {% set val = xstp_vars.mstp %}
    {% if val.state is defined and val.state == "absent" %}
no protocol spanning-tree mstp
    {% else %}
      {% if val.mstp_instances is defined and val.mstp_instances %}
protocol spanning-tree mstp
        {% for instance in val.mstp_instances %}
          {% if instance.number is defined and instance.number %}
            {% if instance.bridge_priority is defined %}
              {% if instance.bridge_priority == 0 or instance.bridge_priority %}
 MSTI {{ instance.number }} bridge-priority {{ instance.bridge_priority }}
              {% else %}
 no MSTI {{ instance.number }} bridge-priority
              {% endif %}
            {% endif %}
            {% if instance.vlans is defined and instance.vlans %}
              {% if instance.vlans_state is defined and instance.vlans_state == "absent" %}
 no MSTI {{ instance.number }} VLAN {{ instance.vlans }}
              {% else %}
 MSTI {{ instance.number }} VLAN {{ instance.vlans }}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
{% endif %}

{% if xstp_vars.intf is defined and xstp_vars.intf %}
  {% for intr in xstp_vars.intf.keys() %}
    {% set intf_vars = xstp_vars.intf[intr] %}
interface {{ intr }}
      {% if intf_vars.msti is defined and intf_vars.msti %}
        {% for inst in intf_vars.msti %}
          {% if inst.instance_number is defined and inst.instance_number==0 or inst.instance_number and inst.state == "present" %}
            {% if inst.priority is defined %}
              {% if inst.priority %}
 spanning-tree msti {{ inst.instance_number }} priority {{ inst.priority }}
              {% else %}
 no spanning-tree msti {{ inst.instance_number }} priority 1
              {% endif %}
            {% endif %}
            {% if inst.cost is defined %}
              {% if inst.cost %}
 spanning-tree msti {{ inst.instance_number }} cost {{ inst.cost }}
              {% else %}
 no spanning-tree msti {{ inst.instance_number }} cost 1
              {% endif %}
            {% endif %}
          {% elif inst.instance_number is defined and inst.state == "absent" %}
no spanning-tree msti {{ inst.instance_number }} priority
no spanning-tree msti {{ inst.instance_number }} cost
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if intf_vars.stp_type is defined and intf_vars.stp_type == "mstp" %}
          {% if intf_vars.edge_port is defined %}
            {% if intf_vars.bpdu_guard is not defined or intf_vars.bpdu_guard is defined and intf_vars.bpdu_guard == false %}
no spanning-tree mstp edge-port bpduguard
            {% endif %}
            {% if intf_vars.edge_port is defined and intf_vars.edge_port and intf_vars.bpdu_guard is defined and intf_vars.bpdu_guard %}
spanning-tree mstp edge-port bpduguard
            {% elif intf_vars.edge_port is defined and intf_vars.edge_port %}
spanning-tree mstp edge-port
            {% else %}
no spanning-tree mstp edge-port
            {% endif %}
          {% else %}
no spanning-tree mstp edge-port
          {% endif %}
          {% if intf_vars.guard is defined and intf_vars.guard %}
              {% if intf_vars.guard == "loop" %}
spanning-tree mstp loopguard
no spanning-tree mstp rootguard
              {% elif intf_vars.guard == "root" %}
spanning-tree mstp rootguard
no spanning-tree mstp loopguard
              {% else %}
no spanning-tree mstp loopguard
no spanning-tree mstp rootguard
              {% endif %}
          {% else %}
no spanning-tree mstp loopguard
no spanning-tree mstp rootguard
          {% endif %}
      {% else %}
no spanning-tree mstp edge-port
no spanning-tree mstp loopguard
no spanning-tree mstp rootguard
      {% endif %}
      {% if intf_vars.stp_type is defined and intf_vars.stp_type == "rstp" %}
          {% if intf_vars.cost is defined %}
            {% if intf_vars.cost is defined and intf_vars.cost|int >= 1 and intf_vars.cost|int <= 2000000 %}
spanning-tree rstp cost {{ intf_vars.cost }}
            {% endif %}
          {% else %}
no spanning-tree rstp cost
          {% endif %}
          {% if intf_vars.priority is defined %}
            {% if intf_vars.priority is defined and intf_vars.priority|int >= 1 and intf_vars.priority|int <= 240 %}
spanning-tree rstp priority {{ intf_vars.priority }}
            {% endif %}
          {% else %}
no spanning-tree rstp priority 
          {% endif %}
          {% if intf_vars.edge_port is defined %}
            {% if intf_vars.bpdu_guard is not defined or intf_vars.bpdu_guard is defined and intf_vars.bpdu_guard == false %}
no spanning-tree rstp edge-port bpduguard
            {% endif %}
            {% if intf_vars.edge_port is defined and intf_vars.edge_port and intf_vars.bpdu_guard is defined and intf_vars.bpdu_guard %}
spanning-tree rstp edge-port bpduguard
            {% elif intf_vars.edge_port is defined and intf_vars.edge_port%}
spanning-tree rstp edge-port
            {% else %}
no spanning-tree rstp edge-port
            {% endif %}
          {% else %}
no spanning-tree rstp edge-port
          {% endif %}
          {% if intf_vars.guard is defined and intf_vars.guard  %}
              {% if intf_vars.guard == "loop" %}
spanning-tree rstp loopguard
no spanning-tree rstp rootguard
              {% elif intf_vars.guard == "root" %}
spanning-tree rstp rootguard
no spanning-tree rstp loopguard
              {% else %}
no spanning-tree rstp loopguard
no spanning-tree rstp rootguard
              {% endif %}
          {% else %}
no spanning-tree rstp loopguard
no spanning-tree rstp rootguard
          {% endif %}
      {% else %}
no spanning-tree rstp cost
no spanning-tree rstp priority
no spanning-tree rstp edge-port
no spanning-tree rstp loopguard
no spanning-tree rstp rootguard
      {% endif %}

  {% endfor %}
{% endif %}

{% endif %}

